<div id="purchase-orders">
  <h1>Buying</h1>

  <% unless @purchases.blank? %>
    <table class="default">
      <tr>
        <th>Orders</th>
        <th>Amount</th>
        <th>Price</th>
      </tr>

      <% @purchases.each do |to| %>
        <tr>
          <td><%= to[:orders] %></td>
          <td><%= number_to_bitcoins to[:amount], :precision => 4 %></td>
          <td><%= "#{number_to_currency(to[:price].to_f, :unit => "", :precision => 5)}" %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No buying orders have been found.</p>
  <% end %>
</div>

<div id="sale-orders">
  <h1>Selling</h1>

<% unless @sales.blank? %>
    <table class="default">
      <tr>
        <th>Orders</th>
        <th>Amount</th>
        <th>Price</th>
      </tr>

      <% @sales.each do |to| %>
        <tr>
          <td><%= to[:orders] %></td>
          <td><%= number_to_bitcoins to[:amount], :precision => 4 %></td>
          <td><%= "#{number_to_currency(to[:price].to_f, :unit => "", :precision => 5)}" %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No selling orders have been found.</p>
  <% end %>
</div>
