<h1>Trade orders</h1>

<% unless @trade_orders.blank? %>
  <table class="default" id="trade-orders">
    <tr>
      <th>Created at</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Total</th>
      <th class="auto-sized"></th>
    </tr>

    <% @trade_orders.each do |to| %>
      <tr<%= " class=\"inactive\"" unless to.active? %>>
        <td><%= l to.created_at %></td>
        <td><%= to.category.capitalize %></td>
        <td><%= number_to_bitcoins to.amount, :precision => 4 %></td>
        <td><%= "#{number_to_currency(to.ppc, :unit => "", :precision => 4)}" %></td>
        <td><%= "#{number_to_currency(to.ppc * to.amount, :unit => "", :precision => 4)} #{to.currency}" %></td>
        <td  class="auto-sized">
          <%=
            link_to image_tag("delete.png"),
              account_trade_order_path(to),
              :method => :delete,
              :class => "delete",
              :confirm => "Are you sure you want to delete this trade order ?"
          %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No orders have been found.</p>
<% end %>