<h1><%= t :trade_orders_title %></h1>

<% unless @trade_orders.blank? %>
  <table class="default" id="trade-orders">
    <tr>
      <th><%= t :created_at %></th>
      <th><%= t :type %></th>
      <th><%= t :amount %></th>
      <th><%= t :price %></th>
      <th><%= t :total %></th>
      <th class="auto-sized"></th>
      <th class="auto-sized"></th>
      <th class="auto-sized"></th>
    </tr>

    <% @trade_orders.each do |to| %>
      <tr<%= " class=\"inactive\"" unless to.active? %>>
        <td><%= l to.created_at %></td>
        <td><%= to.category.capitalize %></td>
        <td class="amount"><%= number_to_bitcoins to.amount, :precision => 4 %></td>
        <td class="amount"><%= "#{number_to_currency(to.ppc, :unit => "", :precision => 5)} #{to[:currency] + ("&nbsp;" * (5 - to[:currency].size))}".html_safe %></td>
        <td class="amount"><%= "#{number_to_currency(to.ppc * to.amount, :unit => "", :precision => 4)} #{to[:currency] + ("&nbsp;" * (5 - to[:currency].size))}".html_safe %></td>
        <td class="auto-sized"><%= image_tag("dark-pool.png", :alt => (t :dark_pool_order), :title => (t :dark_pool_order)) if to.dark_pool? %></td>
        <td class="auto-sized"><%= image_tag "#{to.currency}.png", :alt => to.currency, :title => to.currency %></td>
        <td  class="auto-sized">
          <%=
            link_to image_tag("delete.png", :title => (t :delete_order), :alt => (t :delete_order)),
              account_trade_order_path(to),
              :method => :delete,
              :class => "delete",
              :confirm => (t :delete_order_confirm)
          %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t :no_orders_found %></p>
<% end %>