<h1><%= t :create_order_title %></h1>

<%= form_for @trade_order, :url => account_trade_orders_path do |f| %>
  <%= errors_for @trade_order, :message => "error_creating_order" %>

  <div class="form-field">
    <%= f.label :currency %>
    <%= f.select :currency, Currency.all.map { |c| ["#{t("activerecord.attributes.currency.codes.#{c.code.downcase}")} (#{c.code})", c.code] unless c.code == "BTC" }.compact, { :prompt => "--" }, { :class => "currency-select trigger-total-update" } %>
    <div class="explanation">
      <%= t :currency_to_trade %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :category %>
    <div class="radios">
      <%= f.radio_button :category, "buy", :class => "category-select trigger-total-update" %> <%= f.label :category_buy, (t :buy) %>
      <%= f.radio_button :category, "sell", :class => "category-select trigger-total-update" %> <%= f.label :category_sell, (t :sell) %>
    </div>
    <div class="explanation">
      <%= t :sell_or_buy_description %>
    </div>
  </div>

  <div class="form-field">
    <%= label_tag :balance, (t :your_balance) %>
    <%= text_field_tag :balance, nil, :disabled => true, :class => "amount" %>
    <div class="explanation">
      <%= t :your_balance_description %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :value => amount_field_value(@trade_order.amount),
      :size => 8,
      :class => "trigger-total-update amount" %>
    <div class="explanation">
      <%= t :amount_description %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :ppc %>
    <%= f.text_field :ppc, :value => amount_field_value(@trade_order.ppc),
      :size => 8,
      :class => "trigger-total-update amount" %>
    <div class="explanation">
      <%= t :ppc_description %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :total %>
    <%= text_field_tag :total, nil, :size => 8, :disabled => true, :class => "amount" %>
    <div class="explanation">
      <%= t :total_description %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :dark_pool %>
    <%= f.check_box :dark_pool, :class => "checkbox" %>
    <div class="explanation">
      <%= t :dark_pool_description %>
    </div>
  </div>

  <div class="form-field">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>