<h1>Create a trade order</h1>

<%= form_for @trade_order, :url => account_trade_orders_path do |f| %>
  <% if @trade_order.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@trade_order.errors.count, "error") %> prohibited this trade order from being created
      </h2>

      <ul>
        <% @trade_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :category %>
    <div class="radios">
      <%= f.radio_button :category, "buy" %> <%= f.label :category_buy, "Buy" %>
      <%= f.radio_button :category, "sell" %> <%= f.label :category_sell, "Sell" %>
    </div>
    <div class="explanation">
      Whether you want to buy or sell bitcoins
    </div>
  </div>

  <div class="form-field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :size => 8, :value => "" %>
    <div class="explanation">
      BTC amount you're trading
    </div>
  </div>

  <div class="form-field">
    <%= f.label :ppc, "Price" %>
    <%= f.text_field :ppc, :size => 8, :value => "" %>
    <div class="explanation">
      Price for 1 BTC
    </div>
  </div>

  <div class="form-field">
    <%= f.label :currency %>
    <div class="radios">
      <%= f.radio_button :currency, "LRUSD" %> <%= f.label :currency_lrusd, "LRUSD" %>
      <%= f.radio_button :currency, "LREUR" %> <%= f.label :currency_lreur, "LREUR" %>
      <%= f.radio_button :currency, "EUR" %> <%= f.label :currency_eur, "EUR" %>
    </div>
    <div class="explanation">
      Currency you're trading
    </div>
  </div>

  <div class="form-field">
    <%= f.label :dark_pool %>
    <%= f.check_box :dark_pool, :class => "checkbox" %>
    <div class="explanation">
      Should the order be public ?
    </div>
  </div>

  <div class="form-field">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>