%p= t("emails.withdrawal_processed_notification.body")

%table
  %tr
    %th= "#{t("activerecord.models.bank_account.one")} : "  
    %td= @withdrawal.bank_account.iban
  %tr
    %th= "#{t("activerecord.attributes.transfer.amount")} : "   
    %td= "#{@withdrawal.amount} #{@withdrawal.currency}"
