%h1= t("activerecord.models.invoice.other")

= creation_link :invoice, t(".create")

%table.default
  %tr
    %th= t("activerecord.attributes.invoice.reference")
    %th= t("activerecord.attributes.invoice.state")
    %th= t("activerecord.attributes.invoice.paid_at")
    %th= t("activerecord.attributes.invoice.amount")
    %th.auto-sized

  - if @invoices.size > 0
    - @invoices.each do |invoice|
      %tr
        %td= invoice.reference
        %td= invoice_state(invoice.state)
        %td= invoice.paid? ? l(invoice.paid_at) : "N/A"
        %td.amount= number_to_bitcoins invoice.amount
        %td.auto-sized= invoice_details(invoice)
  - else
    = render :partial => "layouts/no_data"
