= auto_refresh_if_necessary(@invoice)

%h1= t(".details")

%table.default.details
  %tr
    %th= t(".payee")
    %td.fixed= @invoice.user.account

  %tr
    %th= t("activerecord.attributes.invoice.reference")
    %td.fixed= @invoice.reference

  - unless @invoice.merchant_reference.blank?
    %tr
      %th= t("activerecord.attributes.invoice.merchant_reference")
      %td.fixed= @invoice.merchant_reference

  %tr
    %th= t("activerecord.attributes.invoice.amount")
    %td.amount= number_to_bitcoins @invoice.amount

  %tr
    %th= t("activerecord.attributes.invoice.state")
    %td= invoice_state(@invoice.state, :icon => true)

  - if @invoice.paid_at
    %tr
      %th= t("activerecord.attributes.invoice.paid_at")
      %td= l(@invoice.paid_at)

  - unless @invoice.paid?
    %tr
      %th= t("activerecord.attributes.invoice.payment_address")
      %td.bitcoin-address= @invoice.payment_address

  - unless @invoice.merchant_memo.blank?
    %tr
      %th= t("activerecord.attributes.invoice.merchant_memo")
      %td
        %pre= @invoice.merchant_memo

- if @invoice.item_url && !@invoice.pending?
  %br
  .invoice-item-link
    = link_to(t(".return_to_item"), @invoice.item_url)

- if @invoice.pending?
  %br
  .payment-explanations= t(".payment-explanations")