<h1>Deposit Liberty Reserve</h1>

<%= render :partial => 'lr_sci_form' %>

<h1>Withdraw Liberty Reserve</h1>

<%= form_for @liberty_reserve_transfer, :url => account_liberty_reserve_transfers_path do |f| %>
  <%=
    render :partial => 'layouts/errors', :locals => {
      :model => @liberty_reserve_transfer,
      :message => "prevented your funds from being sent"
    }
  %>

  <div class="form-field">
    <%= f.label :lr_account_id %>
    <%= f.text_field :lr_account_id, :autocomplete => "off" %>
  </div>

  <div class="form-field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :value => amount_field_value(@liberty_reserve_transfer.amount), :autocomplete => "off" %>
  </div>

  <div class="form-field">
    <%= f.label :currency %>

    <div class="radios">
      <%= f.radio_button :currency, "LRUSD" %> <%= f.label :currency_lrusd, "USD" %>
      <%= f.radio_button :currency, "LREUR" %> <%= f.label :currency_lreur, "EUR" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="recaptcha-field">
    <label for="recaptcha_response_field">Are you human ?</label>
    <div class="recaptcha-input">
      <%= recaptcha_tags :ssl => true %>
    </div>
  </div>

  <div class="form-field">
    <%= f.submit :value => "Send", :class => "submit" %>
  </div>
<% end %>