<%= form_for @user, :url => user_path do |f| %>
  <%=
    render :partial => 'layouts/errors', :locals => {
      :model => @user,
      :message => "error_updating_account"
    }
  %>

  <% unless @user.new_record? %>
    <div class="form-field">
      <%= label_tag :account, (t :account) %>
      <%= f.text_field :account, :disabled => true %>
    </div>
  <% end %>

  <div class="form-field">
    <%= label_tag :email %>
    <%= f.text_field :email, :disabled => true %>
  </div>

  <div class="form-field">
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, nil, :prompt => "--" %>
    <div class="explanation">
      <%= t :time_zone_explanation %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>

  <% if @user.new_record? %>
    <div class="recaptcha-field">
      <label for="recaptcha_response_field">Are you human ?</label>
      <div class="recaptcha-input">
        <%= recaptcha_tags :ssl => true %>
      </div>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.submit :class => 'submit' %>
  </div>
<% end %>
