%fieldset
  %legend= t(".change_password")
  .form-field
    = f.label :current_password
    = f.password_field :current_password

  .form-field
    = f.label :password
    = f.password_field :password, :value => ""

  .form-field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

.form-field
  = f.submit t(".submit"), :class => 'submit'
