<h1><%= t :listing_users %></h1>

<table>
  <tr>
    <th><%= t :account %></th>
    <th><%= t :email %></th>
    <th><%= t :password %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.account %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to (t :user_show), user %></td>
    <td><%= link_to (t :user_edit), edit_user_path(user) %></td>
    <td><%= link_to (t :user_destroy), user, :confirm => (t :user_destroy_confirm), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :user_new), new_user_path %>
