<%= devise_error_messages! %>

<h1><%= t(:password_forgotten) %></h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-field">
    <%= f.submit t(:submit), :class => "submit" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>