.ticket
  .ticket-buttons
    - if ticket.closed?
      = form_tag reopen_user_ticket_path(ticket), :method => :post do
        .form-field
          = submit_tag t(".reopen"), :class => 'submit reopen'
    - else
      = form_tag close_user_ticket_path(ticket), :method => :post do
        .form-field
          = submit_tag t(".close"), :class => 'submit close'

  %h2= ticket.title

  %div
    %strong= "#{t("activerecord.attributes.ticket.state")} : "
    = t("activerecord.attributes.ticket.states.#{ticket.state}")
  .ticket-comment
    = t(".someone_wrote", :who => (ticket.user == current_user ? t(".you") : ticket.user.name), :when => distance_of_time_in_words_to_now(ticket.created_at.utc))
    %div= ticket.description

  - ticket.comments.each do |comment|
    .ticket-comment
      = t(".someone_wrote", :who => (comment.user == current_user ? t(".you") : comment.user.name), :when => distance_of_time_in_words_to_now(comment.created_at))
      
      /Ugly anchor
      %a{ :name => "comment-#{comment.id}"}
      %div= comment.contents

  - unless ticket.closed?
    %br

    = form_for ticket.comments.new, :url => user_ticket_comments_path(ticket) do |f|
      .form-field
        = f.text_area :contents, :rows => 5

      .form-field
        = f.submit t(".add_comment"), :class => 'submit'
