%h1= t(".sign_in")

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-field
    = f.label :email
    = f.text_field :email

  .form-field
    = f.label :password
    = f.password_field :password
    .explanation= link_to t(".password_explanation"), new_password_path(resource_name)

  .form-field
    = f.submit "sign_in", :class => "submit"

= render :partial => "devise/shared/links"
