.form-field
  = form_builder.label :bic
  = form_builder.text_field :bic

.form-field
  = form_builder.label :iban
  = form_builder.text_field :iban

.form-field
  = form_builder.label :account_holder
  = form_builder.text_area :account_holder, :rows => 5
