<form id="pecunix-sci-form" action="https://pri.pecunix.com/money.refined" method="post">
  <input type="hidden" name="PAYEE_ACCOUNT" value="<%= config["account"] %>" />
  <input name="PAYMENT_AMOUNT" value="<%= amount %>" />

  <input type="hidden" name="PAYMENT_URL" value="<%= config["payment_url"] %>" />
  <input type="hidden" name="PAYMENT_URL_METHOD" value="GET" />

  <input type="hidden" name="NOPAYMENT_URL" value="<%= config["no_payment_url"] %>" />
  <input type="hidden" name="NOPAYMENT_URL_METHOD" value="GET" />

  <input type="hidden" name="STATUS_URL" value="<%= config["status_url"] %>" />
  <input type="hidden" name="STATUS_TYPE" value="FORM" />

  <input type="hidden" name="INPUT_HASH" value="<%= hash %>" />

  <input type="hidden" name="PAYMENT_UNITS" value="GAU" />
  <input type="hidden" name="WHO_PAYS_FEES" value="PAYER" />
  <input type="hidden" name="PAYMENT_ID" value="<%= payment_id %>" />

  <input type="hidden" name="SUGGESTED_MEMO" value="Transfer funds to account <%= @current_user.account %>" />
</form>