<h1><%= t :deposit_bitcoins_title %></h1>
<%= t :deposit_bitcoins_body_html, :estimation=>Transfer::MIN_BTC_CONFIRMATIONS * 10%>

<h1><%= t :deposit_eur_title %></h1>
<%= t :deposit_eur_body_html, :support_email=>"support@bitcoin-central.net", :pgp_link=>"http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x49FA50FC091469DA" %>

<h1><%= t :deposit_lr_title %></h1>
<%= render :partial => 'lr_sci_form' %>

<h1><%= t :deposit_pgau_title %></h1>
<%= t :deposit_pgau_body_html %>

<br />

<%= form_tag pecunix_deposit_form_account_transfers_path, :method => :get, :remote => true do %>
  <div class="form-field">
    <%= label_tag :amount, (t :amount_pgau) %>
    <%= text_field_tag :amount, nil %>
  </div>

  <div class="form-field">
    <%= submit_tag (t :deposit_pgau), :class => "submit" %>
  </div>
<% end %>

<div id="pecunix-sci-form-container" class="hidden"></div>


