<h1><%= t :account_history %></h1>

<table class="default" id="history">
  <tr>
    <th><%= t :date %></th>
    <th><%= t :currency %></th>
    <th><%= t :amount %></th>
  </tr>

  <% @transfers.each do |transfer| %>
    <tr>
      <td><%= l transfer.created_at %></td>
      <td><%= transfer.currency %></td>
      <td class="amount">
        <span <%= color_for transfer %> <%= confirmation_tooltip_for transfer %>>
          <%= transfer.amount > 0 ? "+" : "-" %> <%= number_to_currency transfer.amount.abs, :unit => "" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>



