%h1= t(".title")
= t(".body_html")

%br

= form_for @transfer, :as => :transfer, :url => account_transfers_path do |f|
  = errors_for(@transfer, :message => "error_transferring_funds")

  .form-field
    = f.label :currency
    = f.select :currency, [ ["Bitcoins", "BTC"], ["EUR", "EUR"], ["Liberty Reserve USD", "LRUSD"], ["Liberty Reserve EUR", "LREUR"]]
  
  - if @transfer.currency == "BTC"
    .form-field
      = f.label :address
      = f.text_field :address

  - if ["LRUSD", "LREUR"].include? @transfer.currency
    .form-field
      = f.label :lr_account_id
      = f.text_field :lr_account_id

  - if @transfer.currency == "EUR"
    .form-field
      = f.label :bic
      = f.text_field :bic

    .form-field
      = f.label :iban
      = f.text_field :iban

    .form-field
      = f.label :full_name_and_address
      = f.text_area :full_name_and_address, :rows => 5

  .form-field
    = label_tag :max_amount, t(".max_amount")
    = text_field_tag :max_amount, @transfer.currency && amount_field_value(current_user.max_withdraw_for(@transfer.currency)), :class => "amount", :disabled => true

  .form-field
    = f.label :amount
    = f.text_field :amount, :value => amount_field_value(@transfer.amount), :autocomplete => "off"
    
  .form-field
    = f.submit :value => t(".submit"), :class => "submit"
