<h1><%= t :transfer_funds_title %></h1>
<%= t :transfer_funds_body_html %>

<h1><%= t :how_does_it_work_title %></h1>
<%= t :how_does_it_work_body_html %>

<br />

<%= form_for :transfer, @transfer, :url => account_transfers_path do |f| %>
  <%=
    render :partial => 'layouts/errors', :locals => {
      :model => @transfer,
      :message => "error_transferring_funds"
    }
  %>

  <div class="form-field">
    <%= f.label :currency %>

    <div class="radios">
      <%= f.radio_button :currency, "LRUSD", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_lrusd, (t "currencies.lrusd") %>
      <%= f.radio_button :currency, "LREUR", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_lreur, (t "currencies.lreur") %>
      <%= f.radio_button :currency, "EUR", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_eur, (t "currencies.eur") %>
      <%= f.radio_button :currency, "BTC", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_btc, (t "currencies.btc") %>
    </div>
  </div>

  <script type="text/javascript">
    transferExplanations = {
        "EUR"   : "<%= t :payee_id_eur %>",
        "LRUSD" : "<%= t :payee_id_lrusd %>",
        "LREUR" : "<%= t :payee_id_lreur %>",
        "BTC"   : "<%= t :payee_id_btc %>",
        "none"  : "<%= t :payee_id_none %>"
    }
  </script>
  <div class="form-field">
    <%= label_tag :payee, (t :payee) %>
    <%= text_field_tag :payee, params[:payee], :autocomplete => "off" %>
    <div class="explanation" id="payee-explanation"></div>
  </div>

  <div class="form-field">
    <%= label_tag :balance, (t :balance) %>
    <%= text_field_tag :balance, amount_field_value(@current_user.balance(@transfer.currency)),
      :class => "amount",
      :disabled => true %>
    <div class="explanation">
      <%= t :confirmed_balance %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :value => amount_field_value(@transfer.amount), :autocomplete => "off" %>
    <div class="explanation">
      <%= t :transfer_amount %>
    </div>
  </div>

  <div class="form-field">
    <%= f.submit :value => (t :transfer_button), :class => "submit" %>
  </div>
<% end %>