<h1>Transfer funds</h1>
<p>You can send funds to :
  <ul>
    <li>a <strong>bitcoin</strong> address (BTC only),</li>
    <li>an <strong>e-mail</strong> address (all currencies),</li>
    <li>a <strong>bitcoin central</strong> account (all currencies), or</li>
    <li>a <strong>Liberty Reserve</strong> account (LREUR and LRUSD only)</li>
  </ul>
</p>

<br />

<%= form_for @transfer, :url => account_transfers_path do |f| %>
  <%=
    render :partial => 'layouts/errors', :locals => {
      :model => @transfer,
      :message => "prevented your funds from being transferred"
    }
  %>

  <div class="form-field">
    <%= f.label :currency %>

    <div class="radios">
      <%= f.radio_button :currency, "LRUSD", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_lrusd, "LRUSD" %>
      <%= f.radio_button :currency, "LREUR", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_lreur, "LREUR" %>
      <%= f.radio_button :currency, "EUR", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_eur, "EUR" %>
      <%= f.radio_button :currency, "BTC", :class => "currency-select trigger-balance-update" %> <%= f.label :currency_btc, "BTC" %>
    </div>
  </div>

  <div class="form-field">
    <%= label_tag :payee %>
    <%= text_field_tag :payee, nil, :autocomplete => "off" %>
    <div class="explanation">
      Account number, e-mail or bitcoin address
    </div>
  </div>

  <div class="form-field">
    <%= label_tag :balance %>
    <%= text_field_tag :balance, amount_field_value(@current_user.balance(@transfer.currency)), :disabled => true %>
    <div class="explanation">
      Your confirmed balance
    </div>
  </div>

  <div class="form-field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :value => amount_field_value(@transfer.amount), :autocomplete => "off" %>
    <div class="explanation">
      The amount you want to transfer
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
    <div class="explanation">
      Your current password
    </div>
  </div>

  <div class="recaptcha-field">
    <label for="recaptcha_response_field">Are you human ?</label>
    <div class="recaptcha-input">
      <%= recaptcha_tags :ssl => true %>
    </div>
  </div>

  <div class="form-field">
    <%= f.submit :value => "Transfer", :class => "submit" %>
  </div>
<% end %>