<h1>Trade history</h1>

<% unless @trades.blank? %>
  <table class="default" id="trade-history">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Total</th>
      <th class="auto-sized"></th>
    </tr>

    <% @trades.each do |trade| %>
      <tr>
        <td><%= l trade.created_at %></td>
        <td>
          <% if trade.buyer_id == @current_user.id %>
            Buy
          <% else %>
            Sell
          <% end %>
        </td>
        <td class="amount"><%= number_to_bitcoins trade.traded_btc, :precision => 4 %></td>
        <td class="amount"><%= number_to_currency trade.ppc, :unit => "", :precision => 5 %> <%= trade.currency %></td>
        <td class="amount"><%= number_to_currency trade.traded_currency, :unit => "", :precision => 4 %> <%= trade.currency %> </td>
        <td class="auto-sized"><%= image_tag "#{trade.currency}.png", :alt => trade.currency, :title => trade.currency %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No trades were found</p>
<% end %>