<ul id="menu">
  <%= menu_item :logged_in => true do %>
    <%= link_to content_tag(:span, (t "navigation.account.main")), "#" %>
    <ul>
      <%= menu_item link_to(content_tag(:span, (t "navigation.account.balance")), account_path), :logged_in => true %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.account.history")), account_transfers_path), :logged_in => true %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.account.transfer_money")), new_account_transfer_path), :logged_in => true %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.account.deposit_money")), deposit_account_transfers_path), :logged_in => true %>
    </ul>
  <% end %>

  <%= menu_item do %>
    <%= link_to content_tag(:span, (t "navigation.trading.main")), "#" %>
    <ul>
      <%= menu_item link_to(content_tag(:span, (t "navigation.trading.new_order")), new_account_trade_order_path), :logged_in => true %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.trading.your_orders")), account_trade_orders_path), :logged_in => true %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.trading.order_book")), book_account_trade_orders_path) %>
      <%= menu_item link_to(content_tag(:span, (t "navigation.trading.trade_history")), account_trades_path), :logged_in => true %>
    </ul>
  <% end %>

  <%= menu_item :admin => true do %>
    <%= link_to content_tag(:span, (t "navigation.admin.main")), "#" %>
    <ul>
      <li><%= link_to content_tag(:span, (t "navigation.admin.transfers")), admin_transfers_path %></li>
    </ul>
  <% end %>

  <%= menu_item do %>
    <%= link_to content_tag(:span, (t "navigation.help.main")), "#" %>
    <ul>
      <li><%= link_to content_tag(:span, (t "navigation.help.faq")), faq_path %></li>
      <li><%= link_to content_tag(:span, (t "navigation.help.economy")), economy_path %></li>
      <li><%= link_to content_tag(:span, (t "navigation.help.support")), support_path %></li>
    </ul>
  <% end %>
</ul>