#user-information
  %p
    - if @current_user
      %p.identification
        = t ".signed_in_as"
        = link_to @current_user.name, edit_user_path
        = "-"
        = link_to t(".logout"), destroy_session_path(:user)
        %span#countdown{ :data => { "delay" => Devise.timeout_in.to_i, "logout-path" => destroy_user_session_path } }
      
      %p{ :title => t(".address_tip") }
        %span.address-label
          = t ".your_address"
          = ":"

        %span#last-bitcoin-address.bitcoin-address
          = @current_user.bitcoin_address 
          %a{ :id => "example2", :href => "/images/qrcodebig.png"}
            %img{ :alt => "example2", :src => "images/qrcodetiny.png"}

    - else
      = link_to t(".sign_up"), new_registration_path(:user)
      = "|"
      = link_to t(".sign_in"), new_session_path(:user)

