<div id="user-information">
  <p>
    <% if @current_user %>
      <p class="identification">
        <%= t :signed_in_as %>  <%= link_to @current_user.account, edit_user_path %> - <%= link_to t(:logout), session_path, :method => :delete %>
      </p>
      <p>
        <span class="address-label">
          <%= t :your_last_address %>
        </span> :
        <span class="bitcoin-address" id="last-bitcoin-address">
          <%= @current_user.last_address %>
        </span>
        <%= link_to image_tag('refresh.png'),
          user_addresses_path,
          :remote => true,
          :method => :post,
          :id => 'refresh-button',
          :title => t(:generate_new_address_legend)  %>
      </p>
    <% else %>
      <%= link_to t(:sign_up), new_user_path %> | <%= link_to t(:sign_in), new_session_path %>
    <% end %>
  </p>
</div>
