<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!-- TODO : Give correct locale for keywords, put a localized description -->
    <meta name="keywords" lang="en" content="<%= t :website_keywords %>" />

    <title><%= t :website_title %></title>

    <%= stylesheet_link_tag %w{reset application jqplot}, :cache => "all" %>

    <style type="text/css">
      h1#main-title a {
        background-image: url('/images/bitcoin.<%= I18n.locale %>.png');
        background-repeat: no-repeat;
        display: block;
        width: 300px;
        height: 60px;
      }
    </style>
    
    <%= javascript_include_tag :defaults, :cache => "all" %>

    <%= active_scaffold_includes %>

    <%= csrf_meta_tag %>

    <%= render :partial => "layouts/google_analytics" %>
  </head>
  <body class="<%= request[:controller]%>" id="<%= "#{request[:controller]}-#{request[:action]}" %>">
    <div id="content">
      <h1 id="main-title">
        <%= link_to content_tag(:span, (t :website_title)), root_path %>
      </h1>

      <%= render :partial => 'layouts/locale_select' %>    
      <%= render :partial => 'layouts/user_informations' %>
      <%= render :partial => 'layouts/navigation' %>
      <%= render :partial => 'layouts/flash', :object => flash %>

      <div id="right-content">
        <%= yield %>
      </div>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
