%h1= t(".deposit_bitcoins_title")
%p= t(".deposit_bitcoins_body_html", :estimation => Transfer::MIN_BTC_CONFIRMATIONS * 10)

%h1= t(".deposit_eur_title")
%p= t(".deposit_eur_body_html")

%div#bank-info
  - if (@bic && @iban && @account_holder)
    %table
      %tr
        %th= t(".comment")
        %td= current_user.name
      %tr
        %th= t(".account_holder")
        %td.account-holder= @account_holder
      %tr
        %th
        %td.account-holder-address= @account_holder_address
      
      %tr
        %td{ :colspan => 2 } &nbsp;

      %tr
        %th= t(".bic")
        %td= @bic
      %tr
        %th= t(".iban")
        %td= @iban
      %tr
        %th= t(".bank")
        %td.bank= @bank
      %tr
        %th
        %td.bank-address= @bank_address

  - else
    %p#unavailable= t(".not_available")

%h1= t(".other_options")

%h2 Deposit CAD
%p= link_to "View instructions", "/s/cad_operations"

%h2 Deposit INR
%p= link_to "View instructions", "/s/inr_operations"

%h2= t(".deposit_lr_title")
%p= render(:partial => 'lr_sci_form')

%h2= t(".deposit_pgau_title")
%p= t(".deposit_pgau_body_html")

%br

= form_tag pecunix_deposit_form_account_path, :method => :get, :remote => true do
  .form-field
    = label_tag :amount, t(".pgau_amount")
    = text_field_tag :amount, nil

  .form-field
    = submit_tag t(".deposit_pgau"), :class => "submit"
  
#pecunix-sci-form-container.hidden
