.creation-link
  = link_to("#{image_tag("add.gif", :alt => t(".add_funds"), :title => t(".add_funds"))} #{t(".add_funds")}".html_safe, deposit_account_path)

%h1= t :account_balance_title

%table#account-balances.default
  %tr
    %th
    %th= t :currency
    %th= t :balance

  %tr
    %td= link_to image_tag("bitcoin-logo.jpg"), "http://www.bitcoin.org/", :target => "_blank", :title => t("currencies.btc_legend")
    %td= t("currencies.btc")
    %td.account-balance{ :title => exact_balance(current_user, :btc) }
      %span{ :class => color_for_balance(current_user, :btc) }
        #{sign_for_balance(current_user, :btc)} #{number_to_currency current_user.balance(:btc), :unit => ""}

        - unless unconfirmed_btc_balance_part(current_user).zero?
          %br
          %span.unconfirmed{ :title => t(:balance_unconfirmed) }
            + #{number_to_currency unconfirmed_btc_balance_part(current_user).abs, :unit => ""}

  %tr
    %td{ :rowspan => 2}
      = link_to image_tag("liberty_reserve.gif"), "https://www.libertyreserve.com/?ref=U8651415", :target => "_blank", :title => t("currencies.lr_legend")
    %td= t("currencies.lrusd")
    %td.account-balance{ :title => exact_balance(current_user, :lrusd) }
      %div{ :class => color_for_balance(current_user, :lrusd) }
        #{sign_for_balance(current_user, :lrusd)} #{number_to_currency current_user.balance(:lrusd), :unit => ""}

  %tr
    %td= t("currencies.lreur")
    %td.account-balance{ :title => exact_balance(current_user, :lreur) }
      %div{ :class => color_for_balance(current_user, :lreur) }
        #{sign_for_balance(current_user, :lreur)} #{number_to_currency current_user.balance(:lreur), :unit => ""}

  %tr
    %td= link_to image_tag("euros.png"), "http://www.ecb.int/", :target => "_blank", :title => t("currencies.eur_legend")
    %td= t("currencies.eur")
    %td.account-balance{ :title => exact_balance(current_user, :eur) }
      %div{ :class => color_for_balance(current_user, :eur) }
        #{sign_for_balance(current_user, :eur)} #{number_to_currency current_user.balance(:eur), :unit => ""}

  %tr
    %td= link_to image_tag("gold.jpg"), "http://www.pecunix.com/", :target => "_blank", :title => t("currencies.pgau_legend")
    %td= t("currencies.pgau")
    %td.account-balance{ :title => exact_balance(current_user, :pgau) }
      %div{ :class => color_for_balance(current_user, :pgau) }
        #{sign_for_balance(current_user, :pgau)} #{number_to_currency current_user.balance(:pgau), :unit => ""}

  - unless current_user.balance(:inr).zero?
    %tr
      %td= link_to image_tag("inr-bill.png"), "http://www.rbi.org.in/", :target => "_blank", :title => t("currencies.inr_legend")
      %td= t("currencies.inr")
      %td.account-balance{ :title => exact_balance(current_user, :inr) }
        %div{ :class => color_for_balance(current_user, :inr) }
          #{sign_for_balance(current_user, :inr)} #{number_to_currency current_user.balance(:inr), :unit => ""}

  - unless current_user.balance(:usd).zero?
    %tr
      %td= link_to image_tag("usd-bill.png"), "http://www.federalreserve.gov/", :target => "_blank", :title => t("currencies.usd_legend")
      %td= t("currencies.usd")
      %td.account-balance{ :title => exact_balance(current_user, :usd) }
        %div{ :class => color_for_balance(current_user, :usd) }
          #{sign_for_balance(current_user, :usd)} #{number_to_currency current_user.balance(:usd), :unit => ""}

  - unless current_user.balance(:cad).zero?
    %tr
      %td= link_to image_tag("cad-bill.png"), "http://www.bankofcanada.ca/", :target => "_blank", :title => t("currencies.cad_legend")
      %td= t("currencies.cad")
      %td.account-balance{ :title => exact_balance(current_user, :cad) }
        %div{ :class => color_for_balance(current_user, :cad) }
          #{sign_for_balance(current_user, :cad)} #{number_to_currency current_user.balance(:cad), :unit => ""}