<h1>
  <%= t :account %>
</h1>

<table class="default" id="account-balances">
  <tr>
    <th />
    <th>
      <%= t :currency %>
    </th>
    <th>
      <%= t :balance %>
    </th>
  </tr>

  <tr>
    <td>
      <%= link_to image_tag("bitcoin-logo.jpg"), "http://www.bitcoin.org/", :target => "_blank", :title => t(:currency_btc_legend) %>
    </td>
    <td>
      <%= t :currency_btc %>
    </td>
    <td class="account-balance">
      <%
        btc_balance = @current_user.balance(:btc)
        unconfirmed_btc_balance = @current_user.balance(:btc, :unconfirmed => true) - btc_balance
      %>

      <span <%= exact_balance_title(:btc) %> class="<%= @current_user.balance(:btc) > 0 ? "green" : (@current_user.balance(:btc) < 0 ? "red" : "") %>">
        <%= btc_balance > 0 ? "+" : (btc_balance < 0 ? "-" : "") %> <%= number_to_currency btc_balance.abs, :unit => "" %>
      </span>

      <% unless unconfirmed_btc_balance.zero? %>
        <br />
        <span class="unconfirmed" title="<%= t :balance_unconfirmed %>">
          + <%= number_to_currency unconfirmed_btc_balance.abs, :unit => "" %>
        </span>
      <% end %>
    </td>
  </tr>

  <tr>
    <td rowspan="2">
      <%= link_to image_tag("liberty_reserve.gif"), "https://www.libertyreserve.com/?ref=U8651415", :target => "_blank", :title => t(:currency_lr_legend) %>
    </td>
    <td>
      <%= t :currency_lrusd %>
    </td>
    <td <%= exact_balance_title(:lrusd) %> class="account-balance <%= @current_user.balance(:lrusd) > 0 ? "green" : (@current_user.balance(:lrusd) < 0 ? "red" : "") %>">
      <%= @current_user.balance(:lrusd) > 0 ? "+" : (@current_user.balance(:lrusd) < 0 ? "-" : "") %> <%= number_to_currency @current_user.balance(:lrusd).abs, :unit => "" %>
    </td>
  </tr>

  <tr>
    <td>
      <%= t :currency_lreur %>
    </td>
    <td <%= exact_balance_title(:lreur) %> class="account-balance <%= @current_user.balance(:lreur) > 0 ? "green" : (@current_user.balance(:lreur) < 0 ? "red" : "") %>">
      <%= @current_user.balance(:lreur) > 0 ? "+" : (@current_user.balance(:lreur) < 0 ? "-" : "") %> <%= number_to_currency @current_user.balance(:lreur).abs, :unit => "" %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to image_tag("euros.png"), "http://www.ecb.int/", :target => "_blank", :title => t(:currency_eur_legend) %>
    </td>
    <td>
      <%= t :currency_eur %>
    </td>
    <td <%= exact_balance_title(:eur) %> class="account-balance <%= @current_user.balance(:eur) > 0 ? "green" : (@current_user.balance(:eur) < 0 ? "red" : "") %>">
      <%= @current_user.balance(:eur) > 0 ? "+" : (@current_user.balance(:eur) < 0 ? "-" : "") %> <%= number_to_currency @current_user.balance(:eur).abs, :unit => "" %>
    </td>
  </tr>

  <tr>
    <td>
      <%= link_to image_tag("gold.jpg"), "http://www.pecunix.com/", :target => "_blank", :title => t(:currency_pgau_legend) %>
    </td>
    <td>
      <%= t :currency_pgau %>
    </td>
    <td <%= exact_balance_title(:pgau) %> class="account-balance <%= @current_user.balance(:pgau) > 0 ? "green" : (@current_user.balance(:pgau) < 0 ? "red" : "") %>">
      <%= @current_user.balance(:pgau) > 0 ? "+" : (@current_user.balance(:pgau) < 0 ? "-" : "") %> <%= number_to_currency @current_user.balance(:pgau).abs, :unit => "" %>
    </td>
  </tr>
</table>
